.editPage {
  background: url("../../images/mwtjvffkkv\ -\ Copy.png");
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  background-size: 100% 110%;
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.edit-form {
  display: block;
  background: url("../../images/iStock-1324099927.jpg");
  background-size: 100% 110%;
  background-position: center;
  border: 1px solid rgb(156, 152, 152);
  padding: 40px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.editPage h2 {
  text-align: center;
  margin-top: -10px;
  color: #703058;
}

.editPage label {
  display: none;
}

.editPage input {
  background-color: rgb(232 226 222 / 24%);
  border: 0.1px solid rgb(33 30 28);
  border-radius: 3px;
  height: 30px;
  padding-left: 2px;
  width: 320px;
  font-size: 16px;
}

.editPage input::placeholder,
.editPage textarea::placeholder {
  color: rgb(33 30 28);
  padding-left: 5px;
}

.editPage textarea {
  background-color: rgb(232 226 222 / 24%);
  border: 0.1px solid rgb(33 30 28);
  border-radius: 3px;
  height: 100px;
  padding-left: 2px;
  width: 320px;
  font-size: 16px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.editPage button {
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  width: 100%;
  border-radius: 3px;
  margin-top: 30px;
  height: 30px;
  cursor: pointer;
}

.editPage a {
  color: white;
}

.editPage label {
  display: initial !important;
  margin-top: 12px;
  margin-right: 5px;
  white-space: nowrap;
}

.add-btn {
  background-color: #e29508;
}

.edit-delete button:hover {
  box-shadow: none;
}

/* .editPermisiion {
  font-size: 24px;
  color: red;
} */
