.textareaComments {
  resize: none;
  width: 400px;
  height: 100px;
  margin-top: 22px;
  margin-bottom: 28px;
  padding: 5px;
}

.details-comments {
  display: table-cell;
  margin: 30px;
}

.create-comment {
  margin-top: 40px;
  position: relative;
  text-align: center;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  background: #ede5e28a;
  box-shadow: 0px 0px 16px 0px #32485e, -7px -5px 20px 0px #191c21;
}

.create-comment > label {
  color: white;
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  line-height: normal;
}

.comment {
  width: 400px;
  display: inline-block;
  position: static;
  margin: 20px auto 25px auto;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2),
    12px 12px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  margin-left: 60px;
  background: #6f5d9c;
  color: white;
}

.comment p {
  padding: 16px;
}

.create-comment > .button:hover {
  background-color: #41425c;
  color: white;
  cursor: pointer;
}

.btnComments {
  padding: 10px;
  background-color: #ffa50073;
  box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
  border-radius: 6px;
  border: none;
  transition: 500ms;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
